1. Function that returns  first and last digit of a number

In [30]:
def first_digit(n):
  while n>=10:
    n=n/10
  return int(n)


def last_digit(n):
  return(n%10)

In [50]:
n=int(input("enter the numbers: "))
a=first_digit(n)
b=last_digit(n)
print("The first number is: ",a)
print("The last number is: ",b)

enter the numbers: 2534
The first number is:  2
The last number is:  4

2. Generate first N number of Fibonacci numbers. Take N value from user

In [16]:
n=int(input("enter the number: "))
a=0
b=1
sum=0
count=1
print("Fibonacci Series: ", end = " ")
while(count <= n):
  print(sum, end = " ")
  count += 1
  a = b
  b = sum
  sum = a + b

enter the number: 7
Fibonacci Series:  0 1 1 2 3 5 8

3. Take N number of marks and names from user and display the names of  failedstudents(marks<40). Take N value from user

In [18]:
n=int(input("enter the markes: "))
a=int(input("enter the rohit marks: "))
b=int(input("enter the deepak marks: "))
c=int(input("enter the naveen marks: "))
d=int(input("enter the arjun marks: "))
if n>40:
  print("The students are passed")
else:
  print("Rohit has failed",a)
  print("Deepak has failed",b)
  print("Naveen has failed",c)
  print("Arjun has failed",d)

enter the markes: 40
enter the rohit marks: 12
enter the deepak marks: 13
enter the naveen marks: 26
enter the arjun marks: 20
Rohit has failed 12
Deepak has failed 13
Naveen has failed 26
Arjun has failed 20

4. Display multiplication table of K. Take k value from user

In [24]:
k=int(input("enter the number: "))
for i in range(1,11):
  print(k,'x',i,'=',k*i)

enter the number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

5. Take numbers from user until the number is -1 and display the product and average of all numbers.

In [47]:
n=int(input("enter the number: "))
sum=0
mul=1
for i in range(-2,n):
  count=mul*i
  sum=sum+1
  a=sum/n
print("The product is: ",count)
print("The average  is: ",a)

enter the number: 5
The product is:  4
The average  is:  1.4