1. What is dictionary in Python? Explain with an example

A: Dictonary is a collection of unorder set of 'key:values' pairs, with the requirement that keys are unique in one dictonary.
Example:

In [1]:
d={}
d['James']="Bond"
d["Indiana"]="Jones"
print(d)

{'James': 'Bond', 'Indiana': 'Jones'}

3. Write a Python program to sum all the items in a list.

In [12]:
li=[1,2,3,4,5]
count=0
for i in li:
  count=count+i
print("The sum of all elements in list is",count)

The sum of all elements in list is 15

4. Write a Python program to create a list of empty dictionaries.

In [13]:
li=[{},{},{},{},{},{},{}]
print("The list of empty dictionaries are:",li)

The list of empty dictionaries are: [{}, {}, {}, {}, {}, {}, {}]

5. Write a Python program to access dictionary keys element by index.

In [22]:
di={'Bond':7, 'Anne': 2002, 'lucky':26}
print(list(di)[1])

Anne

6. Write a Python program to iterate over dictionaries using for loops

In [27]:
d={'Bond':7, 'Anne':2002, 'lucky':26}
for i in d:
  print(i,d[i])

Bond 7
Anne 2002
lucky 26

7. Write a Python program to sum all the items in a dictionary.

In [32]:
d={'Bond':7, 'Anne':2002, 'lucky':26}
count=0
for i in d:
  count=count+d[i]
print("We can print only sum of values in all item of dictonary: ",count)

We can print only sum of values in all item of dictonary:  2035

8. Write a Python script to concatenate following dictionaries to create a new
one. Sample Dictionary :
a. dic1={1:10, 2:20}
b. dic2={3:30, 4:40}
c. dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [36]:
dic1={1:10, 2:20}
dic2={3:30, 4:40} 
dic3={5:50,6:60}
dic4={}
for i in (dic1,dic2,dic3):
  dic4.update(i)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

10.Write a Python program to create a tuple

In [37]:
t='James Bond', 'Men in Black', 'Raganork'
print(t, type(t))

('James Bond', 'Men in Black', 'Raganork') <class 'tuple'>

11.Write a Python program to create a tuple with different data types

In [39]:
t='James Bond',7,'Anne',2002,'lucky',26
print("Tupple with different datatypes: ",t,end=" ")
print("the type of 't' is: ",type(t))

Tupple with different datatypes:  ('James Bond', 7, 'Anne', 2002, 'lucky', 26) the type of 't' is:  <class 'tuple'>

12.Write a Python program to convert a tuple to a string

In [43]:
t=('M','A','N','G','O')
str="".join(t)
print("The conversion of tupple to a string is: ",str)

The conversion of tupple to a string is:  MANGO

13.Write a Python program to slice a tuple.

In [56]:
tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
slice = tuplex[3:5]
print(slice)

(5, 4)

14.Write a Python program to find the length of a tuple.

In [44]:
tuplet=('M','A','N','G','O')
print("The length of a tuple is: ",len(tuplet))

The length of a tuple is:  5

15.Write a Python program to convert a tuple to a dictionary.

In [46]:
t=[('b', 1), ('a', 10), ('c', 22)]
x=dict(t)
print("The conversion of tuple to a dictonary is: ",x)

The conversion of tuple to a dictonary is:  {'b': 1, 'a': 10, 'c': 22}

16.Write a Python program to reverse a tuple

In [52]:
t=('M','A','N','G','O')
a=t[::-1]
print("The reverse of a tuple is: ",a)

The reverse of a tuple is:  ('O', 'G', 'N', 'A', 'M')

17.Write a Python program to convert a list of tuples into a dictionary

In [54]:
l = [("x", 1), ("x", 2), ("x", 7), ("y", 1), ("y", 2), ("z", 1)]
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2, 7], 'y': [1, 2], 'z': [1]}

18.Write a Python program to convert a list to a tuple.

In [55]:
li=['mango','apple','bond']
print("The conversion of list to a tuple is: ",tuple(li))

The conversion of list to a tuple is:  ('mango', 'apple', 'bond')