1. Program to print a specific series for multiple of 3 as "Fizz", multiple of 5 as "Buzz" and multiple of both as "Fizzbuzz"

In [1]:
print("The following series is shown as")
for i in range(1,101):
    if i%3==0:
        print("Fizz")
    if i%5==0:
        print("Buzz")
    if i%3==0 and i%5==0:
        print("FizzBuzz")
    print(i)

The following series is shown as
1
2
Fizz
3
4
Buzz
5
Fizz
6
7
8
Fizz
9
Buzz
10
11
Fizz
12
13
14
Fizz
Buzz
FizzBuzz
15
16
17
Fizz
18
19
Buzz
20
Fizz
21
22
23
Fizz
24
Buzz
25
26
Fizz
27
28
29
Fizz
Buzz
FizzBuzz
30
31
32
Fizz
33
34
Buzz
35
Fizz
36
37
38
Fizz
39
Buzz
40
41
Fizz
42
43
44
Fizz
Buzz
FizzBuzz
45
46
47
Fizz
48
49
Buzz
50
Fizz
51
52
53
Fizz
54
Buzz
55
56
Fizz
57
58
59
Fizz
Buzz
FizzBuzz
60
61
62
Fizz
63
64
Buzz
65
Fizz
66
67
68
Fizz
69
Buzz
70
71
Fizz
72
73
74
Fizz
Buzz
FizzBuzz
75
76
77
Fizz
78
79
Buzz
80
Fizz
81
82
83
Fizz
84
Buzz
85
86
Fizz
87
88
89
Fizz
Buzz
FizzBuzz
90
91
92
Fizz
93
94
Buzz
95
Fizz
96
97
98
Fizz
99
Buzz
100

2. Program to remove consecutive duplicates from a list

In [2]:
print("The list before the deleting is ")
list1=[2,1,1,3,4,4,5,6,7,7,8]
a=0
count=0
while a<len(list1)-1:
  if list1[a]==list1[a+1]:
    del list1[a]
    count=1
  elif count:
    del list1[a]
    count=0
  else:
    a=a+1
print("The list with free of dulpicates is ")    
print(list1)

The list before the deleting is
The list with free of dulpicates is
[2, 3, 5, 6, 8]

3. Program to get unique elements from list

In [3]:
print("The series before removing is")
list1=[2,1,1,1,3,9,9,4,5,5,5,6,6,7]
print(list1)
a=0
while a<len(list1)-1:
    if list1[a]==list1[a+1]:
        del list1[a]
    else:
        a+=1
print("The list with unique elements is ")
print(list1)

The series before removing is
[2, 1, 1, 1, 3, 9, 9, 4, 5, 5, 5, 6, 6, 7]
The list with unique elements is
[2, 1, 3, 9, 4, 5, 6, 7]

4. Program to whether the number is in range or no

In [4]:
n1=int(input("Enter the starting of the range "))
n2=int(input("Enter the ending of the range "))
n=int(input("Enter your number "))
def num(n):
  if n in range(n1,n2):
    print(n," is present in the range ")
  else:
    print(n," is not present in the range ")  
num(n)

Enter the starting of the range 0
Enter the ending of the range 10
Enter your number 4
4  is present in the range

5. Program which counts the number of lower cases and upper cases in given string

In [5]:
a=str(input("Enter your string "))
count=0
value=0
empty_space=0
for i in a:
  if i.islower():
    count=count+1
  elif i.isupper():
    value=value+1
  else:
    empty_space+=1
print("The number of lowercase letters are ",count)
print("The number of uppercase letters are ",value)

Enter your string  'Hello Mr. Rogers, how are you this fine Tuesday?'
The number of lowercase letters are  33
The number of uppercase letters are  4