1. Write a program to calculate length of a string

In [ ]:
n=input("enter the string: ")
print(len(n))

enter the string: Gitam university
16

2. Write a program to count number of characters in a string

In [ ]:
n=input("enter the string: ")
count=0
for i in n:
  count=count+1
  
print(count)

enter the string: Good morning
12

3. Write a python program to get a single string from given two strings, separated by space and swap the first two characters of each string

In [ ]:
str1='ball'
str2='cell'
new_a=str2[:2]+str1[2:]
new_b=str1[:2]+str2[2:]
print(new_a,new_b,sep=' ')

cell ball

4. Write a python script that takes input from user and displays that input in upper and lower case form

In [ ]:
str1=input("enter the string: ")
print(str1.upper())
print(str1.lower())

enter the string: LiOn TiGeR
LION TIGER
lion tiger

5. Write a python program to remove a newline in python

In [ ]:
str1='Good morning\n'
print(str1.rstrip())

Good morning

6. Write a python program to count occurance of a substring in a string

In [ ]:
n='malayalam'
print(n.count('a'))

4

7. Write a python program to convert string to list

In [ ]:
str1='good morning people od bengaluru'
print(str1.split())

['good', 'morning', 'people', 'od', 'bengaluru']

8. Write a python program to perform deletion of a character

In [ ]:
str1='good morning'
str2=' '
for i in range(len(str1)):
  if i!=3:
    str2=str2+str1[i]
print(str2)

 goo morning

9. Write a program to print every character of a string entered by user in a newline using loop

In [ ]:
str1='GITAM'
for i in str1:
  print(i)

G
I
T
A
M

10. Write a program to find the length of the string 'refrigerator' without using len function

In [ ]:
str1='refrigerator'
count=0
for i in str1:
  count=count+1
print(count)

12